<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/logo-short.png">
    <link rel="stylesheet" href="css/fullcalendar.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Calendar</title>
</head>
<body class="calendar-page">
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="home.html"></a>
            </div>
            <div class="user-img rounded-circle"></div>
            <ul class="text-center left-side-menu">
                <li>
                    <a href="home.html"><i class="fas fa-home"></i></a>
                    <a href="" class="text-uppercase">dashboard</a>
                </li>
                <li>
                    <a href="maps.html"><i class="fas fa-map-marker-alt"></i></a>
                    <a href="" class="text-uppercase">maps</a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#multiCollapsemail" role="button" aria-expanded="false"
                       aria-controls="multiCollapsemail"><i class="fas fa-envelope"></i></a>
                    <a href="" class="text-uppercase">mailbox</a>
                    <div class="collapse multi-collapse pages-collapse text-capitalize" id="multiCollapsemail">
                        <div class="collapse-items">
                            <a href="mailbox.html">Inbox</a>
                            <a href="compose.html">Compose</a>
                            <a href="view-mail.html">View mail</a>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <a href="calendar.html"><i class="far fa-calendar-alt"></i></a>
                    <a href="" class="text-uppercase">calendar</a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#multiCollapsepages" role="button" aria-expanded="false"
                       aria-controls="multiCollapsepages"><i class="fas fa-file"></i></a>
                    <a href="" class="text-uppercase">pages</a>
                    <div class="collapse multi-collapse pages-collapse text-capitalize" id="multiCollapsepages">
                        <div class="collapse-items">
                            <a href="lock.html">Lock screen</a>
                            <a href="login.html">Log in</a>
                            <a href="register.html">Register</a>
                            <a href="pricing-tables.html">Pricing tables</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="components.html"><i class="fas fa-th-large"></i></a>
                    <a href="" class="text-uppercase">components</a>
                </li>
                <li>
                    <a href="charts.html"><i class="fas fa-chart-bar"></i></a>
                    <a href="" class="text-uppercase">charts</a>
                </li>
            </ul>

        </div><!-- sidebar-wrapper ends -->
    </div><!-- sidebar ends-->
    </div><!-- mobile-sidebar ends-->
    <!--   content goes here     -->
    <div class="content-wrapper">
        <div class="container-fluid">
            <header>
                <nav class="navbar-brand">
                    <a href="#dashboard" class="text-capitalize"><h5>calendar</h5></a>
                </nav>
                <div class="mobile-toggler float-right d-md-block d-lg-none d-sm-block">
                    <a href="#mobile-sidebar" class="btn mobile-sidebar-btn" data-toggle="sidebar" aria-expanded="false">
                        <span class="togglers"></span>
                    </a>
                </div>
                <div class="user-dropdown float-right">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="user-pic d-block rounded-circle float-left"></a>
                            <a class="nav-link dropdown-toggle text-capitalize float-left" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                maya natali
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-capitalize" href="#">profile</a>
                                <a class="dropdown-item text-capitalize" href="#">settings</a>
                                <a class="dropdown-item text-capitalize" href="#">logout</a>
                            </div>
                    </ul>
                </div><!-- user-dropdown ends-->
                <ul class="navbar-nav notification-bell float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell"></i>
                            <span class="notification-number d-block rounded-circle text-center">3</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul><!-- navbar-nav notification-bell ends -->
                <div class="search-part">
                    <input type="text" name="search" placeholder="Search">
                </div>
            </header>
            <!-------------------------
             main-content starts here  -------------------------->
            <div class="main-content">
                <!--------------   mobile sidebar   ------------------>
                <div id="mobile-sidebar">
                    <div class="sidebar-wrapper">
                        <div class="logo">
                            <a href="home.html"></a>
                        </div>
                        <div class="user-img rounded-circle"></div>
                        <div class="user-collapse text-capitalize">
                            <a class="" data-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false"
                               aria-controls="multiCollapseExample1">Maya Natali</a>
                            <div class="collapse multi-collapse" id="multiCollapse1">
                                <div class="collapse-items">
                                    <a href="#">profile</a>
                                    <a href="#">settings</a>
                                    <a href="#">logout</a>
                                </div>
                            </div>
                        </div><!-- mobile user-collapse ends-->
                        <div class="notification-collapse">
                            <a class="" data-toggle="collapse" href="#multiCollapse2" role="button" aria-expanded="false"
                               aria-controls="multiCollapseExample1"><i class="fas fa-bell"></i>Notification</a>
                            <div class="collapse multi-collapse" id="multiCollapse2">
                                <div class="collapse-items">
                                    <a href="#">action</a>
                                    <a href="#">another action</a>
                                    <a href="#">something else here</a>
                                </div>
                            </div>
                        </div>
                        <ul class="text-center left-side-menu">
                            <li>
                                <a href="dashboard.html"><i class="fas fa-home"></i></a>
                                <a href="" class="text-uppercase">dashboard</a>
                            </li>
                            <li>
                                <a href="maps.html"><i class="fas fa-map-marker-alt"></i></a>
                                <a href="" class="text-uppercase">maps</a>
                            </li>
                            <li>
                                <a data-toggle="collapse" href="#multiCollapsemail" role="button" aria-expanded="false"
                                   aria-controls="multiCollapsemail"><i class="fas fa-envelope"></i></a>
                                <a href="" class="text-uppercase">mailbox</a>
                                <div class="collapse multi-collapse pages-collapse text-capitalize" id="multiCollapsemail">
                                    <div class="collapse-items">
                                        <a href="mailbox.html">Inbox</a>
                                        <a href="compose.html">Compose</a>
                                        <a href="view-mail.html">View mail</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="calendar.html"><i class="far fa-calendar-alt"></i></a>
                                <a href="" class="text-uppercase">calendar</a>
                            </li>
                            <li>
                                <a data-toggle="collapse" href="#multiCollapse_pages" role="button" aria-expanded="false"
                                   aria-controls="multiCollapse_pages"><i class="fas fa-file"></i></a>
                                <a href="" class="text-uppercase">pages</a>
                                <div class="collapse multi-collapse pages-collapse text-capitalize" id="multiCollapse_pages">
                                    <div class="collapse-items">
                                        <a href="lock.html">Lock screen</a>
                                        <a href="login.html">Log in</a>
                                        <a href="register.html">Register</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="components.html"><i class="fas fa-th-large"></i></a>
                                <a href="" class="text-uppercase">components</a>
                            </li>
                            <li>
                                <a href="charts.html"><i class="fas fa-chart-bar"></i></a>
                                <a href="" class="text-uppercase">charts</a>
                            </li>
                        </ul>
                    </div><!-- mobile-sidebar sidebar-wrapper ends -->
                </div>
                <div class="calendar-wrapper rounded col-md-10 m-auto">
                    <div id='calendar'></div>
                </div>
                <div id="createEventModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Add an Event</h4>
                            </div>
                            <div id="modalBody" class="modal-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Event Name" id="eventName">
                                </div>

                                <!--<div class="form-group form-inline">-->
                                    <!--<div class="input-group date" data-provide="datepicker">-->
                                        <!--<div class="input-group-addon">-->
                                            <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<textarea class="form-control" type="text" rows="4" placeholder="Event Description" id= "eventDescription"></textarea>-->
                                <!--</div>-->
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                            </div>
                        </div>
                    </div>
                </div>





            </div><!-- main-content ends -->
        </div><!-- container-fluid ends-->
        <footer>
            <p>Made with <i class="fas fa-heart"></i> by Espace 2018</p>
        </footer>
    </div><!-- content-wrapper ends-->
    <script src="js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/chartist.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src='js/moment.min.js'></script>
    <script src='js/fullcalendar.js'></script>
    <script src="js/script.js"></script>
</body>
</html>
