<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/logo-short.png">
    <link rel="stylesheet" href="css/main.css">
    <title>Lock screen</title>
</head>
<body>
    <section class="lock-section d-flex">
        <div class="inner container">
            <div class="col-lg-6 m-auto">
                <div class="modal-wrapper text-center rounded">
                    <div class="user-avatar rounded-circle"></div>
                    <h5 class="text-capitalize">welcome to espace</h5>
                    <form class="login-form">
                        <div class="input-group">
                            <input type="password" id="passInput" placeholder="Password">
                            <label for="passInput"><i class="fas fa-lock"></i></label>
                        </div>
                        <button class="login-btn text-capitalize">log in</button>
                    </form>
                </div><!-- modal wrapper ends -->
            </div>
        </div><!-- inner container ends -->
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>