<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/logo-short.png">
    <link rel="stylesheet" href="css/main.css">
    <title>Register</title>
</head>
<body>
    <section class="reg-section d-flex">
        <div class="inner container">
            <div class="col-lg-6 m-auto">
                <div class="modal-wrapper text-center rounded">
                    <h5 class="text-capitalize">welcome to espace</h5>
                    <div class="social-login">
                        <p>Register with your social account</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://dribbble.com/" target="_blank"><i class="fab fa-dribbble-square"></i></a>
                            <a href="https://www.behance.net/" target="_blank"><i class="fab fa-behance-square"></i></a>
                            <a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-square"></i></a>
                        </div><!-- social icons end-->
                    </div><!-- social login ends-->
                    <form class="register">
                        <div class="input-group">
                            <input type="text" id="nameInput" placeholder="First Name" name="firstName">
                            <label for="nameInput"><i class="fas fa-user"></i></label>
                        </div>
                        <div class="input-group">
                            <input type="text" id="emailInput" placeholder="Email">
                            <label for="emailInput"><i class="fas fa-envelope"></i></label>
                        </div>
                        <div class="input-group">
                            <input type="password" id="passInput" placeholder="Password">
                            <label for="passInput"><i class="fas fa-lock"></i></label>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" id="rectang-checkbox">
                            <label for="rectang-checkbox" class="remember-me"></label>Remember me
                        </div>
                        <button class="register-btn text-capitalize">register</button>
                        <a href="#" class="d-block">already have an account ?</a>
                    </form>
                </div><!-- modal wrapper ends -->
            </div>
        </div><!-- inner container ends -->
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>